<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8" />
        <title>Live Stream Video</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='eagle.ico') }}">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper">
                        <a href="index.html">Home</a>
                    </div>
                    <div class="nav-link-wrapper active-nav-link">
                        <a href="live_stream_video.html">Live Stream Video</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="sys_stats.html">Base Station Status</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="about.html">About Us</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="l3harris.html">About the Sponsor</a>
                    </div>
                </div>

                <div class="right-side">
                    <div class="brand">
                        <div>EAGLE EYE</div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="two-column-wrapper">
                    <div class="profile-image-wrapper">
                        <img src="{{ url_for('video_feed') }}">
                    </div>
                    <div class="video-content-wrapper">
                        <h1>Live Stream Video</h1>
                        <!--<form action="/live_stream_video.html" method="post">
                            <button id="MisButton" name="videoButton" class=pushButton value="target" type="submit">Mis-Identified Target</button>
                        </form>
                        <br></br>
                        <form action="/live_stream_video.html" method="post">
                            <button name="videoButton" class=pushButton value="home" type="submit">Return to Base</button>
                        </form>-->
                        <button id="MisButton" name="videoButton" class="pushButton" value="target" type="submit">Mis-Identified Target</button>
                        <button id="ReturnButton" name="videoButton" class="pushButton" value="home" type="submit">Return to Base</button>
                        <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                              <span class="close">&times;</span>
                              <p>There has been a misclassification!</p>
                            </div>
                        </div>
                        <div id="myModal2" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                              <span class="close">&times;</span>
                              <p>Returning the drone to base!</p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
        <script>
            // Get the modal
            var modals = document.getElementsByClassName("modal");
            // Get the button that opens the modal
            var btns = document.getElementsByClassName("pushButton");
            var spans=document.getElementsByClassName("close");
            for(let i=0;i<btns.length;i++){
                btns[i].onclick = function() {
                    modals[i].style.display = "block";
                }
            }
            for(let i=0;i<spans.length;i++){
                spans[i].onclick = function() {
                    modals[i].style.display = "none";
                }
            }
        </script>      
    </body>
</html>
